*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




#addHead{
    position: static;
    background-color: grey;
    margin-top: 0;
}










footer {
    text-align: center;
    min-height: 100px;
    background-color: #5D5D60;
    
    h4 {

        font-size: 16px;
        color: white;
    }
}



